<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataTables Example</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include jQuery and DataTables JS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.11.5/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.5/datatables.min.js"></script>
    <!-- Include DataTables Editor JS -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.5/datatables.min.js"></script>

    <script src="../static/scripts/8.js"></script>
    <script src="../static/scripts/7.js"></script>
    <script src="../static/scripts/6.js"></script>
    <script src="../static/scripts/5.js"></script>
    <script src="../static/scripts/4.js"></script>
    <script src="../static/scripts/3.js"></script>
    <script src="../static/scripts/1.js"></script>
    <script src="../static/scripts/2.js"></script>
    <script src="../static/script.js"></script>



    <!-- Include DataTables CSS -->
</head>

<body>

    <div class="container">
        <h1>DataTables Example</h1>
        <!-- DataTable -->
        <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <!-- <th>Extn.</th> -->
                    <th>Start date</th>
                    <th>Salary</th>
                    
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <!-- <th>Extn.</th> -->
                    <th>Start date</th>
                    <th>Salary</th>
                   
                </tr>
            </tfoot>
        </table>
    </div>



</body>

</html>